<<<<<<< HEAD
<h1 class="m-3"> Îles en <%= params[:continent] %></h1>

<%= link_to "retour", root_path, class:'btn btn-ghost', style: 'margin: 20px'%>

<% if params[:continent].present? %>
  <div class="banner" style= "background-image: url('<%= @picture %>')">
    <h1 style="margin: 10px"> Îles en <%= @islands.first.continent %></h1>
  </div>
<% end %>

<div class="container design-card">
  <div class="d-flex">
    <div class="col-md-9">
      <%=  render 'shared/card_product' %>
    </div>
  </div>
</div>

