<div class="banner" style="background-image: url(<%= @island.photo %>)">
</div>
<%= link_to "retour", :back, class:'btn btn-ghost', style: 'margin: 30px'%>
<div class="card-owner-island">
  <%= cl_image_tag @island.user.photo, class: "avatar-show", alt: "avatar-large" %>
  <%#= image_tag('photo_avatar.jpg',
  <%#= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-show", alt: "avatar-large" %>
  <p class="set-name" ><%= @island.user.first_name %></p>
</div>
<div>
</div>
<div class="container">
  <div class="d-flex flex-row">
    <div class="col-md-6">
      <h1><%= @island.name %></h1>
      <p style=“font-style: italic”><%= @island.price_per_day %> € / jour</p>
      <div id="price-per-day" class="d-none"><%= @island.price_per_day %></div>
      <br>
      <p>Située en <span class="span-blue"><%= @island.continent %></span></p>
      <p><%= @island.description %></p>
    </div>
    <div class="col-md-6">
      <div class="map-style"
        id="map"
        style="width: 100%;
        height: 300px;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
        margin-top: 35px;
        border-radius: 15px;
        margin-bottom: 35px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
      <div>
        <%= simple_form_for [@island, @booking] do |f| %>
          <%= f.input :check_in_date, class: 'departure', label: "Date d'arrivée :" %>
          <%= f.input :check_out_date, class: 'arrival', label: "Date de départ :" %>
          <div class="d-flex justify-content-between">
            <p>Nombre de jours : </p>
            <div id="total-days"></div>
          </div>

          <div class="d-flex justify-content-between">
            <p>Total : </p>
            <div id="total-price"></div>
          </div>

          <%= f.button :submit, "Réserver", class: 'btn btn-primary reserve-button', style: 'margin-bottom: 30px' %>
        <% end %>
        <br>
      </div>
    </div>
  </div>
</div>
<div>
  <div data-set="<%= @price %>"></div>
  <div data-set="<%= @days %>"></div>
</div>
