<div class="wrapper">
  <div class="container">
  <h1 class="page-title">A propos de votre voyage :</h1>
    <div class=" d-flex justify-content-center row">
      <div class="col-md-8 col-sm-6">
        <div class="ticket-card">
          <div class="cover">
            <img src=<%= @island.photo %> />
          </div>

          <div class="body">
            <div class="artist">
              <h6 class="info"><i class="fa fa-map-marker"></i><%= @island.continent %></h6>
              <h4 class="name">Ile <%= @island.name %></h4>
            </div>
            <div class="price">
              <div class="from">Prix par jour: </div>
              <div class="value price-island-per-day">
                <%= @island.price_per_day %><b>€</b>
              </div>
            </div>

            <div class="clearfix"></div>
            <div class="info">
              <p><%= @island.description %></p>
              <div class="period-of-stay d-flex justify-content-between">
                <p><i class="fa fa-calendar"></i> <%= @booking.check_in_date.strftime("%e %B %Y")%></p>
                <i class="fas fa-arrow-right"></i>
                <p><i class="fa fa-calendar"></i><%= @booking.check_out_date.strftime("%e %B %Y") %></p>
              </div>
              <div class="d-flex justify-content-between number-of-days">
                <p class="days">Nombre de jours : </p>
                <p class="days-total"> <%= @days %> </p>
              </div>
              <div class="d-flex justify-content-between total-price-of-reservation">
                <p>Montant total de votre réservation : </p>
                <p class="total-price-island"> <strong><%= @total_price %><span>€</span></strong>  </p>
              </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="footer">
          <%= link_to "Accédez à vos réservations", bookings_path(booking: true), class: 'btn toggle-tickets validation-reservation' %>
        </div>
      </div>
    </div>
  </div>
</div>
