  <div class="card-product my-3">
    <% if  current_user == island.user %>
    <% end %>
    <img src=<%= island.photo %> />
    <div class="card-product-infos">
      <h2><%= link_to island.name, island_path(island) %> </h2>
      <p><%= island.description %> </p>
      <p> <%= island.price_per_day %> € / jour</p>
      <p> <%= island.user.first_name %></p>

      <% if  current_user == island.user %>
      <%= button_to "update", edit_island_path(island), method: :get%>
      <% end %>

    </div>
      <div class="button">
        <%= link_to "Delete", island, method: :delete%>
      </div>
  </div>
