  <div class="card-product my-3">
    <% if  current_user == island.user %>
      <%= button_to "delete", island, method: :delete %>
    <% end %>
    <img src=<%= island.photo %> />
    <div class="card-product-infos">
      <h2><%= link_to island.name, island_path(island) %> </h2>
      <p><%= island.description %> </p>
      <p> <%= island.price_per_day %> € / jour</p>
      <p> <%= island.user.first_name %></p>
    </div>
  </div>
