  <div class="card-product my-3">
    <%= cl_image_tag island.photo %>
    <div class="card-product-infos">
      <h2><%= link_to island.name, island_path(island) %> </h2>
      <p><%= island.description %> </p>
      <p> <%= island.price_per_day %> € / jour</p>
      <div class="d-flex justify-content-between">
        <p> <%= island.user.first_name %></p>
        <div class="d-flex">
          <% if  current_user == island.user %>
            <div class="button mx-3">
              <%= link_to "Delete", island, method: :delete%>
            </div>
            <div class="button">
              <%= link_to "Update", edit_island_path(island), method: :get%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
